.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-blue {
    background: linear-gradient(50deg, #0400ff, #0550db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-red {
    background: linear-gradient(50deg, #e21e80, #e21e80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__efeito__borda {
    padding-top: 30px;
    width: auto;
    height: auto;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.card__efeito__skil {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe;
    min-width: 250px;
    max-width: 250px;
}

/*botão*/
button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}