.container__card {
    min-width: 450px;
    max-width: 200px;
}
.card-container {
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

.card__imagem {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    max-width: 350px;
}

.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container-grid {
    display: flex;
    gap: 10px;
}

.card-grid {
    background-color: #fff;
    height: 100px;
    width: 100px;
    flex: 1;
    border-radius: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-grid:hover {
    flex: 2;
    background-color: #b8b8b8;
}