@import url("/css/resumo.css");
@import url("/css/sobremim.css");
@import url("/css/projeto.css");
@import url("/css/contato.css");

:root {
    --fonte-primaria: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

html,
body {
    font-family: var(--fonte-primaria);
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.container__bg {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #ffffff;
    background-image: radial-gradient(rgba(0, 0, 0, 0.18) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}